.pagination-flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  flex-wrap: wrap;
}

.pagination-flex-box li {
  background-color: rgb(96, 137, 150);
  border-radius: 0.5em;
  margin: 0.7em;
  padding: 0 1em;
  cursor: pointer;
  border: 2px solid rgba(51, 51, 51, 0.093);
}

.pagination-boxes {
  padding: 0.5em 1.5em !important;
}

.pagination-button-controls {
  background-color:  rgb(62, 90, 99);
  border-radius: 0.3em;
  cursor: pointer;
}
